# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/GCE-Vectrex.cfg"
input_overlay_opacity = "1.000000"

input_remapping_directory = "/opt/retropie/configs/vectrex/"

savefile_directory = "/home/pi/RetroPie/saves/vectrex"
savestate_directory = "/home/pi/RetroPie/saves/vectrex"

#include "/opt/retropie/configs/all/retroarch.cfg"
